<!-- ROOT-->
<div class="grid grid-template-areas">
    <div class="header-left" ui-view="headerLeft"></div>
    <div class="header-right" ui-view="headerRight"></div>
    <div class="main-menu-left" ui-view="mainMenuLeft"></div>
    <div class="main-menu" ui-view="mainMenu"></div>    
    <div class="main-menu-right" ui-view="mainMenuRight"></div>
    <div class="deepnav" ui-view="deepnav"></div>
    <div class="screen" ui-view="screen"></div>
    <div class="action-menu-left" ui-view="actionMenuLeft"></div>
    <div class="action-menu" ui-view="actionMenu"></div>
    <div class="action-menu-right" ui-view="actionMenuRight"></div>
</div>
