<!-- ROOT-->
<div class="grid grid-template-areas">
    <div class="rightTopHeader" ui-view="topRight"></div>
    <div class="leftFooter" ui-view="bottomLeft"></div>
    <div class="middleBottomHeader" ui-view="topMenu"></div>
    <div class="middleBottomHeader" ui-view="topLeft"></div>
    <div class="rightFooter" ui-view="bottomRight"></div>
    <div class="leftBottomHeader" ui-view="alerts"></div>
    <div class="rightBottomHeader" ui-view="search"></div>
    <div class="middleFooter" ui-view="bottomMenu"></div>
</div>
