<div>
    <h1>grid-template-areas (columns and lines)</h1>
    <div class="grid grid-template-areas">
        
        <div class="item leftTopHeader">leftTopHeader</div>
        <div class="item rightTopHeader">rightTopHeader</div>
        <div class="item leftBottomHeader">leftBottomHeader</div>
        <div class="item middleBottomHeader">middleBottomHeader</div>
        <div class="item rightBottomHeader">rightBottomHeader</div>
        <div class="item leftFooter">leftFooter</div>
        <div class="item middleFooter">middleFooter</div>
        <div class="item rightFooter">rightFooter</div>
    </div>
</div>