/***************************/
/******* NORMAL LAYOUT *******/
/***************************/

.buttons {
	float: left;
    width: 80px;
	height: 90px;
	margin: 20px 22px;
	/* border: 1px solid gray; */
}

.buttons1{
	float: left;
    width: 80px;
	height: 90px;
	margin: 20px 0px;
	/* border: 1px solid gray; */
}

.button {
	border-radius: 50%;
	width: 64px;
	height: 64px;
	background-color: rgb(177, 174, 142);
	border: 1px solid rgb(94, 92, 74);
	box-shadow: none;
}

.button:focus {
	outline: none;	
}

/***************************/
/******* GRID LAYOUT *******/
/***************************/

/* Grid */
.grid {
	display: grid;
}

.header-left {
	grid-area: header-left;
}

.header-right {
	grid-area: header-right;
}

.main-menu-left {
	grid-area: main-menu-left;
}

.mainMenu {
	grid-area: mainMenu;
}

.main-menu-right {
	grid-area: main-menu-right;
}

.deepnav {
	grid-area: deepnav;
}

.screen {
	grid-area: screen;
}

.scrool {
	grid-area: scrool;
}

.action-menu-left {
	grid-area: action-menu-left;
}

.action-menu {
	grid-area: action-menu;
}

.action-menu-right {
	grid-area: action-menu-right;
}

.grid-template-areas     {
	grid-template-columns: 128px 1024px 128px;
	grid-template-rows: 128px 96px 640px 128px;
    grid-template-areas:
		"header-left header header-right"
	    "main-menu-left mainMenu main-menu-right"
        "deepnav screen scrool"
        "action-menu-left action-menu action-menu-right"
		;
}

.item {
	margin: 0px;
	/* background: lightgrey; */
	text-align: center;
	vertical-align: bottom;
	font-size: 12px;
}

.grid {
	max-width: 1280px;
	margin: 0 auto;
	border: 0px solid rgb(41, 40, 39);
}

h1 {
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	background-color: rgb(215, 215, 180);
	margin: 0;
}