/***************************/
/******* NORMAL LAYOUT *******/
/***************************/

.buttons {
	float: left;
    width: 80px;
	height: 90px;
	margin: 20px 22px;
	border: 0px solid gray;
}

.buttons1{
	float: left;
    width: 80px;
	height: 90px;
	margin: 20px 0px;
	border: 0px solid gray;
}

.button {
	border-radius: 50%;
	width: 64px;
	height: 64px;
	background-color: rgb(177, 174, 142);
	border: 1px solid rgb(94, 92, 74);
	box-shadow: none;
}

.button:focus {
	outline: none;	
}

/***************************/
/******* GRID LAYOUT *******/
/***************************/

/* Grid */
.grid {
	display: grid;
}

.leftTopHeader {
	grid-area: leftTopHeader;
}

.rightTopHeader {
	grid-area: rightTopHeader;
}

.leftBottomHeader {
	grid-area: leftBottomHeader;
}

.middleBottomHeader {
	grid-area: middleBottomHeader;
}

.rightBottomHeader {
	grid-area: rightBottomHeader;
}

.leftFooter {
	grid-area: leftFooter;
}

.middleFooter {
	grid-area: middleFooter;
}

.rightFooter {
	grid-area: rightFooter;
}

.grid-template-areas     {
	grid-template-columns: 128px 1024px 128px;
	grid-template-rows: 128px 96px 640px 128px;
    grid-template-areas:
		"leftTopHeader header rightTopHeader"
	    "leftBottomHeader middleBottomHeader rightBottomHeader"
        "deepnavs container container"
        "leftFooter middleFooter rightFooter"
		;
}


.item {
	margin: 0px;
	/* background: lightgrey; */
	text-align: center;
	vertical-align: bottom;
	font-size: 12px;
}

.grid {
	max-width: 1280px;
	margin: 0 auto;
	border: 0px solid rgb(41, 40, 39);
}

h1 {
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	background-color: rgb(215, 215, 180);
	margin: 0;
}